name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 52.83.216.97
          username: ubuntu
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          port: 22
          request_pty: true
          script: |
            cd /home/ubuntu/xdocs
            ./deploy.sh
